<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>Tourmaline Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body class="min-h-screen bg-background text-foreground">
    <div id="root">
      <%= yield %>
    </div>
  </body>
</html> 